# RStudio project and session files, and local config (but track *.Rproj)
.Rproj.user
.Rhistory
.RData
.Ruserdata
.Renviron
.Rprofile

# Package build artifacts
/*.tar.gz
/doc/
/Meta/

# pkgdown junk but not e.g. logo
pkgdown/*
!pkgdown/assets/
!pkgdown/favicon/

# Keep these tracked since deploying website manually
# docs/    # rendered site (output of devtools::build_site())

# Quarto/knitr build artefacts
_quarto/              # Quarto project cache
.quarto_cache/        # Quarto chunk cache
*_cache/              # generic cache dirs
*.knit.md             # intermediate Markdown files
*.utf8                # encoding artifacts

# Quarto preview artefacts (temp files from rendering vignettes locally)
vignettes/.quarto/
vignettes/*_files/
vignettes/*.html

# OS and editor noise
Thumbs.db
.DS_Store   # (macOS)
.vscode/

# Coverage reports and CI configs
codecov.yml
