# RStudio project files
*.Rproj
.Rproj.user

# R session files
.Rhistory
.RData
.Ruserdata

# Package build artifacts
/doc/
/Meta/

# Pkgdown site and cache
docs/
pkgdown/

# Quarto cache
vignettes/.quarto/

# OS-specific files
Thumbs.db
.DS_Store   # optional (for macOS collaborators)

# Coverage reports and CI configs
codecov.yml
