# RStudio project files
*.Rproj
.Rproj.user

# R session files
.Rhistory
.RData
.Ruserdata

# Package build artifacts
/doc/
/Meta/

# Pkgdown cache (but NOT docs/, since deploying website manually)
pkgdown/

# Quarto cache and preview outputs (temp files from rendering vignettes locally)
vignettes/.quarto/
vignettes/*_files/
vignettes/*.html

# OS-specific files
Thumbs.db
.DS_Store   # optional (for macOS collaborators)

# Coverage reports and CI configs
codecov.yml
